<html>
<head>
<title>My Page</title>
</head>
<p>
Register to access services</p>
<form action = "http://localhost:9997/result" method = "POST">
<fieldset>
<legend>Register </legend>
<input type='text' name='name' placeholder='Enter Name here'>
<br><br>
<input type='number' name='number' placeholder='Enter number'>
<br><br>
<input type='email' name='email' placeholder='Enter email here'>
<br><br>
<input type='password' name='password' placeholder='Enter password here'>
<br><br>
<input id='b01' type='submit' value="Regsiter">
</fieldset>
</form>

</body>
</html>
